/* css/localizacion.css */
.contenedor {
    padding: 30px;
}

.contenedor section {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    margin-bottom: 40px;
    padding: 30px;
}

.contenedor .mapa-ubicacion {
    background-color: #10324f;
}

.mapa-ubicacion h2 {
    color: white;
    font-size: 2em;
    margin-bottom: 20px;
    border-bottom: 2px solid #eee;
    padding-bottom: 15px;
}

.mapa-embed {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden; /* Para asegurar que el iframe respete el border-radius */
}

.mapa-embed iframe {
    width: 100%;
    height: 450px; /* Altura del mapa */
    border: 0;
}

.mapa-ubicacion p {
    color: white;
    line-height: 1.7;
    margin-top: 20px;
}

.contenedor .informacion-contacto {
    background-color: #ffb84d;
}

.informacion-contacto h2,
.como-llegar h2,
.visitanos h2 {
    color: #333;
    font-size: 1.8em;
    margin-bottom: 20px;
    border-bottom: 2px solid #eee;
    padding-bottom: 15px;
    margin-top: 30px;
}

.como-llegar h2 {
    color: white;
}
.informacion-contacto p {
    color: black;
    line-height: 1.6;
    margin-bottom: 15px;
}

.informacion-contacto ul {
    list-style: none;
    padding: 0;
}

.informacion-contacto li {
    color: black;
    line-height: 1.6;
    margin-bottom: 10px;
}

.informacion-contacto strong {
    font-weight: bold;
    color: #333;
    margin-right: 5px;
}

.informacion-contacto a {
    color: #007bff;
    text-decoration: none;
}

.informacion-contacto a:hover {
    text-decoration: underline;
}

.contenedor .como-llegar {
    background-color: #10324f;
}

.como-llegar p {
    color: white;
    line-height: 1.6;
    margin-bottom: 15px;
}

.como-llegar h3 {
    color: white;
    font-size: 1.2em;
    margin-top: 15px;
    margin-bottom: 10px;
}

.como-llegar ul {
    list-style: none;
    padding: 0;
    margin-bottom: 15px;
}

.como-llegar li {
    color: white;
    line-height: 1.6;
    padding-left: 25px;
    position: relative;
}

.como-llegar li::before {
    content: "\2022";
    color: #007bff;
    position: absolute;
    left: 0;
    top: 5px;
    font-size: 1.2em;
}

.contenedor .visitanos {
    background-color: whitesmoke;
}

.visitanos p {
    color: #555;
    font-size: 1.1em;
    line-height: 1.7;
    text-align: center;
    margin-top: 30px;
}

/* Media queries para hacerlo responsive (ajustes básicos) */
@media (max-width: 768px) {
    .mapa-embed iframe {
        height: 300px;
    }
}