.contenedor {
    /* Uso un display grid para que los bloques de noticias aparezcan en columnas */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Le indico que el tamaño mínimo de cada columna es 400px. y se ajuste automaticamente al tamaño disponible */
    gap: 50px;
    padding: 30px 100px !important;
    background-color: whitesmoke;
}

.noticia-card {
    background-color: rgb(255, 255, 255);
    border-radius: 12px;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.5);
    transition: transform 0.2s ease-in-out;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.noticia-cabecera {
    background-color: #10324f;
    margin: -20px -20px 20px -20px;
    padding: 20px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.noticia-card:hover {
    transform: translateY(-5px);
}

.noticia-titulo {
    color: white;
    font-size: 1.6em;
    margin-bottom: 15px;
    line-height: 1.3;
}

.noticia-fecha {
    color: #777;
    font-size: 0.95em;
    margin-bottom: 20px;
    display: block;
}

.noticia-entrada {
    color: black;
    line-height: 1.7;
    margin-bottom: 25px;
    text-align: justify;
}

.noticia-leer-mas {
    display: block;
    background-color: #ffb84d;
    color: white;
    padding: 12px 20px;
    text-decoration: none;
    border-radius: 12px;
    font-size: 1em;
    text-align: center;
    transition: background-color 0.2s ease-in-out;
    margin-top: auto;
}

.noticia-leer-mas:hover {
    background-color: #0056b3;
}

/* Media query para diseño responsive */
@media (max-width: 768px) {
    .contenedor {
        padding: 10px !important;
    }
    .noticias-grid {
        grid-template-columns: 1fr;
        padding: 20px;
    }
}